---
Checks: 'bugprone-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-readability-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/simplejson/'
FormatStyle: 'file'
