---
Checks: 'bugprone-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type'
WarningsAsErrors: '*,-readability-magic-numbers'
HeaderFilterRegex: 'include/simplejson/'
FormatStyle: 'file'
