name: CMake CI

on: [push]

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake ..
    - name: Build
      run: cmake --build build
    - name: CTest
      working-directory: build
      run: ctest --output-on-failure

  code_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake -DCODE_COVERAGE=ON ..
    - name: Build
      run: cmake --build build
    - name: CTest
      working-directory: build
      run: ctest
      continue-on-error: true
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  clang_9_sanitizer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install clang-9
        run: |
          sudo apt-get -qy update
          sudo apt-get -qy install clang-9 clang-tidy-9
      - name: Create build directory
        run: cmake -E make_directory build
      - name: CMake
        working-directory: build
        run: cmake -Werror=dev -DCMAKE_CXX_CLANG_TIDY="clang-tidy-9;-config=" ..
        env:
          CC: clang-9
          CXX: clang++-9
          CXXFLAGS: "-fsanitize=address,undefined -fno-omit-frame-pointer -g"
      - name: Run clang-tidy and Build
        run: cmake --build build
      - name: CTest
        working-directory: build
        run: ctest --output-on-failure
