name: CMake CI

on: [push]

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake ..
    - name: Build
      run: cmake --build build
    - name: CTest
      working-directory: build
      run: ctest --output-on-failure

  code_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake -DCODE_COVERAGE=ON ..
    - name: Build
      run: cmake --build build
    - name: CTest
      working-directory: build
      run: ctest
      continue-on-error: true
    - name: Install lcov
      run: |
        sudo apt-get -qy update
        sudo apt-get -qy install lcov
    - name: Run lcov
      run: |
        lcov --directory build --capture -o coverage.info
        lcov --remove coverage.info '/usr/*' '*/test/*' -o coverage.info
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.info

  sanitizer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake -Werror=dev ..
      env:
        CC: clang
        CXX: clang++
        CXXFLAGS: "-fsanitize=address,undefined -fno-omit-frame-pointer -g"
    - name: Build
      run: cmake --build build
    - name: CTest
      working-directory: build
      run: ctest --output-on-failure

  clang_tidy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install clang-tidy
      run: |
        sudo apt-get -qy update
        sudo apt-get -qy install clang-tidy
    - name: Create build directory
      run: cmake -E make_directory build
    - name: CMake
      working-directory: build
      run: cmake -Werror=dev -DCMAKE_CXX_CLANG_TIDY="clang-tidy;-config=" ..
    - name: Run clang-tidy and Build
      run: cmake --build build
